:root {
    --config-dark-text: #7380b1;
    --config-dark-background: #16131d;
    --config-dark-text-display: #f1f1f1cc;
    --config-dark-items: #282431;
    --config-dark-position: #0000004a;
    --config-dark-display: #d6d5d5;
    --config-light-text: #73b19a;
    --config-light-background: #fff;
    --config-light-text-body: #111;
    --config-light-items: #fdfdfd;
    --config-light-text-display: #2b2b2b;
    --config-light-selected: #2b2b2b;
    --config-light-display: #9b9b9b;
    --config-light-config: #e7eaed;
    --config-dark-selected: #fbfbfb;
}

html,
body {
    background-color: var(--config-light-background);
    color: var(--config-light-text-body);
    height: 100%;
}

html {
    box-sizing: border-box;
}

*,
*:before,
*:after {
    padding: 0;
    margin: 0;
    box-sizing: inherit;
}

html {
    font-family: -apple-system, BlinkMacSystemFont, segoe ui, Roboto, Oxygen-Sans, Ubuntu, Cantarell, helvetica neue, sans-serif;
    -webkit-font-smoothing: antialiased;
    font-size: 95%;
}

@media screen and (min-width: 800px) {
    html {
        font-size: 100%;
    }
}

@media screen and (min-width: 1400px) {
    html {
        font-size: 115%;
    }
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin-top: 1.5rem;
    margin-bottom: 0;
    line-height: 1.5rem;
}

h1 {
    font-size: 2.121rem;
    line-height: 2.25rem;
    margin-top: 2.25rem;
}

h2 {
    font-size: 1.414rem;
}

h3 {
    font-size: 1.17833333rem;
}

h4 {
    font-size: 0.98194444rem;
}

h5 {
    font-size: 0.81828704rem;
}

p {
    margin-top: 1rem;
    margin-bottom: 0;
    line-height: 1.5rem;
}

bold {
    font-weight: 700;
}

.selected {
    color: var(--config-light-selected) !important;
}

abbr[title] {
    text-decoration: underline double;
}

.social-icons {
    display: flex;
    justify-content: center;
}

.social-icons__link {
    padding: 0.6rem;
    margin-top: -20px;
}

.social-icons__link:not(:last-child) {
    margin-right: -1em;
}

#social-icons_icons {
    color: var(--config-light-text-display);
    margin-left: 5px;
    font-size: 20px;
}

.social-icons__link .social-icons__icon {
    width: 1.4rem;
    height: 1.4rem;
    background-size: contain;
    background-repeat: no-repeat;
}

main {
    padding: 3rem 1.5rem 1rem;
}

@media screen and (min-width: 800px) {
    main {
        padding-left: calc(1.5rem + 100px);
    }
}

@media screen and (max-width: 799px) {
    main {
        padding-top: calc(3rem + 4rem);
    }
}

.container {
    padding-left: 0;
    padding-right: 0;
    font-size: 14px;
    max-width: 48rem;
}

@media screen and (min-width: 800px) {
    .container {
        font-size: 18px;
    }
}

.big h1 {
    font-size: 3em;
    line-height: 1;
    letter-spacing: -0.03em;
    margin: 0;
}

.handle a,
span {
    display: inline-block;
    margin-top: 0.275em;
    color: var(--config-light-display);
    letter-spacing: 0.5px;
    text-decoration: none;
}

.city {
    color: var(--config-light-text) !important;
}

.handle a:hover {
    color: var(--config-light-text);
    transition: all 0.3s ease-out;
}

.big h2 {
    font-size: 2.25em;
    font-weight: 500;
    line-height: 1.25;
    max-width: 22em;
    letter-spacing: -0.03em;
}

.project {
    max-width: 44rem;
}

.fancy {
    color: var(--config-light-text) !important;
}

.spinner-line {
    border-left-color: var(--config-light-text) !important;
}

.spinner-circle {
    color: var(--config-light-text) !important;
}

main {
    padding-top: 0;
    padding-bottom: 0;
    height: 100%;
}

.social-icons {
    justify-content: flex-start;
    padding-top: 1rem;
    margin-left: -0.8rem;
}

.items-text {
    position: absolute;
    width: 100%;
    z-index: 100;
    background: var(--config-dark-text-display) !important;
    height: 100px;
    border-radius: inherit;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: column;
    padding: 15px;
}

whitecol {
    color: #2b2b2b !important;
}

.spotify-icon {
    font-size: 30px;
    color: #45d75f !important;
    margin-right: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
}

@media (prefers-color-scheme: dark) {
    .spotify-icon {
        font-size: 25px;
        color: var(--config-dark-text) !important;
        margin-right: 5px;
        display: flex;
    }
    html,
    body {
        background-color: var(--config-dark-background) !important;
        color: var(--config-dark-text-display) !important;
        height: 100%;
    }
    .app a {
        color: var(--config-dark-text-display) !important;
        text-decoration: none;
    }
    .items-text p {
        font-size: 0.75rem;
        pointer-events: none;
        color: var(--config-dark-selected) !important;
        opacity: 1;
    }
    .handle a,
    span {
        display: inline-block;
        margin-top: 0.275em;
        color: var(--config-dark-display) !important;
        letter-spacing: 0.5px;
        text-decoration: none;
    }
    .handle a:hover {
        color: var(--config-dark-text) !important;
        transition: all 0.3s ease-out;
    }
    #social-icons_icons {
        color: var(--config-dark-text-display) !important;
    }
    .app a:hover {
        color: var(--config-dark-text) !important;
        transition: all 0.4s ease-out;
    }
    .city {
        color: var(--config-dark-text) !important;
    }
    #social-icons_icons:hover {
        color: var(--config-dark-text) !important;
        transition: all 0.4s ease-out;
    }
    whitecol {
        color: var(--config-dark-text-display) !important;
    }
    .fancy {
        color: var(--config-dark-text) !important;
    }
    .spinner-line {
        border-left-color: var(--config-dark-text) !important;
    }
    .spinner-circle {
        color: var(--config-dark-text) !important;
    }
    .items-text {
        position: absolute;
        width: 100%;
        z-index: 100;
        background: var(--config-dark-items) !important;
        height: 100px;
        border-radius: inherit;
        display: flex;
        align-items: flex-start;
        justify-content: flex-start;
        flex-direction: column;
        padding: 15px;
    }
    .position {
        background-color: var(--config-dark-position) !important;
    }
    .selected {
        color: var(--config-dark-selected) !important;
    }
    .box {
        display: block;
        width: 700px;
        padding: 17px;
        border-radius: 20px;
        background-color: var(--config-dark-items) !important;
        top: 50%;
        z-index: 9;
        margin-top: 5px;
        padding-bottom: 17px;
    }
    .box__header {
        display: flex;
        justify-content: space-between;
        font-size: 0.9rem;
        color: var(--config-dark-selected) !important;
    }
    .box__app {
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .box__footer {
        color: var(--config-dark-selected) !important;
        font-size: 0.9rem;
    }
    .color-text {
        color: var(--config-dark-text-display) !important;
    }
    .icon {
        width: 25px;
        height: 25px;
        margin-right: 8px;
        border-radius: 5px;
        background-color: #2222226b !important;
    }
    .icon-blog {
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 0 auto;
        margin-top: 4px;
        color: #c9c9c9 !important;
    }
}

.items-text p {
    font-size: 0.75rem;
    pointer-events: none;
    color: var(--config-light-text-display);
    opacity: 1;
}

.container-items {
    max-width: 48rem;
}

.items {
    width: 100%;
    max-width: 500px;
    padding: 20px;
    height: 110px;
}

.items h2 {
    padding: 20px;
    font-weight: normal;
    position: relative;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.items h2 b {
    position: relative;
    display: block;
}

.item {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    position: relative;
    border-radius: 25px;
    margin-bottom: 20px;
}

.items-text h3 {
    font-size: 0.9rem;
    padding-bottom: 5px;
    pointer-events: none;
}

.title {
    margin-top: 0;
}

.text {
    margin: 0;
}

.item button {
    width: 50%;
    border: 0px;
    font-size: 1.5rem;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding: 0px;
    border-radius: inherit;
    position: absolute;
    height: 90px;
}

.con-icon {
    width: 90px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.config {
    left: 10px;
    background: var(--config-light-config);
}

.config .con-icon {
    padding-right: 10px;
}

.app,
li,
ul {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
}

.app a {
    color: var(--config-light-text-display);
    text-decoration: none;
}

.app a:hover {
    color: var(--config-light-text);
    transition: all 0.4s ease-out;
}

#social-icons_icons:hover {
    color: var(--config-light-text);
    transition: all 0.4s ease-out;
}

.mr-10 {
    margin-right: 2rem;
}

.max {
    max-width: 47rem;
}

.auto {
    margin-left: auto;
    margin-right: auto;
}

.marg {
    margin-top: 5rem;
    margin-bottom: 2rem;
}

.nav {
    display: flex;
    justify-content: flex-start;
    padding-left: 2rem;
    padding-right: 2rem;
    text-align: center;
}

.slide-fade-enter-active {
    transition: all 0.1s ease-out;
}

.slide-fade-leave-active {
    transition: opacity 1.5s cubic-bezier(0.22, 1, 0.36, 1);
}

.slide-fade-enter-from,
.slide-fade-leave-to {
    transform: translateX(20px);
    opacity: 0;
}

@keyframes slideInFromLeft {
    0% {
        transform: translateX(-100%);
    }
    100% {
        transform: translateX(0);
    }
}

.logo {
    font-weight: 800;
    margin-right: 1.5rem;
}

.spotify {
    width: 89%;
    height: 57px;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.flex {
    display: flex;
}

.pointer {
    cursor: pointer;
}

.adjustement {
    margin-left: -54px;
    margin-top: 8px;
}

h1,
h2,
h3,
h4,
span,
div,
.logo,
p {
    animation: 0.4s cubic-bezier(0.22, 1, 0.36, 1) 0s 1 slideInFromLeft;
}

.box {
    display: block;
    width: 700px;
    padding: 17px;
    border-radius: 20px;
    background-color: #f1f1f1cc;
    top: 50%;
    z-index: 9;
    margin-top: 5px;
    padding-bottom: 17px;
}

.box__header {
    display: flex;
    justify-content: space-between;
    font-size: 0.9rem;
    color: #aaa;
}

.box__app {
    display: flex;
    align-items: center;
    justify-content: center;
}

.box__footer {
    color: #aaa;
    font-size: 0.9rem;
}

.color-text {
    color: var(--config-light-text-display);
}

.icon {
    width: 25px;
    height: 25px;
    margin-right: 8px;
    border-radius: 5px;
    background-color: #bdbdbd6b;
}

.icon-blog {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    margin-top: 4px;
    color: #6b6b6b;
}

.icons {
    font-size: 25px;
}

.html5 {
    color: #f2682e;
}

.php8 {
    color: #8993be;
}

.css3 {
    color: #44a9dc;
}

.javascript {
    color: #f2bf26;
}

.vuejs {
    color: #41b883;
}

.container {
    margin: 0 auto !important;
}

.position {
    background-color: #fdfdfd4a;
    padding: 10px;
    border-radius: 20px;
}

.skills {
    text-align: right;
    padding-top: 10px;
    padding-bottom: 10px;
    color: #fbfbfb;
    border-radius: 20px;
}

.html {
    width: 60%;
    background-color: #e07040;
}

.css {
    width: 55%;
    background-color: #52b6e7;
}

.js {
    width: 45%;
    background-color: #f2b836;
}

.php {
    width: 40%;
    background-color: #7982aa;
}

.vue {
    width: 45%;
    background-color: #50c791;
}

img {
    width: 50px;
    height: 50px;
    margin-right: 5px;
    border-radius: 5px;
}

spotify {
    display: flex;
    justify-content: center;
    align-items: center;
}

.items {
    opacity: 0.8;
    cursor: pointer;
}

.items:before,
.items:hover,
.items:after {
    opacity: 1;
    transition: all 0.4s ease-out;
}

@media (min-width: 300px) and (max-width: 500px) {
    main {
        margin-left: 10px;
    }
    .box {
        max-width: 100%;
    }
    .big {
        font-size: 11px;
    }
    .error-icon {
        font-size: 40px;
        margin-left: 9px;
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 0 auto;
    }
    .body {
        width: 100% !important;
        margin-left: 20px;
    }
    .big h1 {
        font-size: 4em;
        line-height: 1.3;
        letter-spacing: -0.03em;
        margin: 0;
    }
    .text {
        font-size: 16px;
    }
    .handle {
        font-size: 17px;
        line-height: 1.3;
    }
    .item-nav {
        font-size: 22px;
    }
    .box {
        display: block;
        width: 255px !important;
        padding: 17px;
        border-radius: 20px;
        background-color: #f1f1f1cc;
        top: 50%;
        z-index: 9;
        margin-top: 5px;
        padding-bottom: 17px;
    }
    .items {
        max-width: 500px;
        padding: 20px;
        height: 110px;
        width: 275px !important;
    }
    .adjustement {
        margin-left: -7px !important;
        margin-top: 8px !important;
    }
    .spotify {
        width: 115% !important;
        height: 57px;
        justify-content: center;
        align-items: center;
        text-align: center;
    }
}